
.parent{
    height: 100vh; 
    background: white;
    font-family: Georgia, 'Times New Roman', Times, serif;;
}
h1{
        display: flex;
        justify-content: center;
        font-size: 50px;
  }
  .menu ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid black;
    
  }
  a{
      text-decoration: none;
      color: black;

  }
  .article1{
      display: flex;
  }
  .box1 {
      flex-direction: column;
      max-width: 30%;
      margin: 20px;
  }
  img{
      width: 100%;
  }
  .box2 {
      flex-direction: column;
      max-width: 30%;
      margin: 20px;
  }
  .box3 {
      text-align: center;
  }
    h2{
     margin: 0;
  }
  .bold {
      font-weight: bold;
  }